<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./layout/head.ejs') %>
        <title>Error</title>
</head>

<body>
    <article id="error">
        <h1 style="color: red;">Error</h1>
        <br />
        <p>
            <%= error %>
        </p>
    </article>
</body>

</html>