body {
    background-color: rgb(180, 180, 180);
}

main {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(219, 219, 219);
    height: 150vh;
}

main div {
    text-align: center;
    background-color: lightgrey;
    margin-top: 8vh;
    margin-bottom: 10vh;
    padding: 3vh 8vw;
    border: outset 4px rgb(160, 160, 160);
}

#detail {
    text-align: center;
    background-color: lightgrey;
    margin-top: 8vh;
    margin-bottom: 10vh;
    padding: 3vh 8vw;
    border: outset 4px rgb(160, 160, 160);
}

#detail img {
    width: 270px;
    height: 370px;
    margin: 3vh auto;
}

main div img {
    width: 270px;
    height: 370px;
    margin: 3vh auto;
}

form {
    margin: 0 auto;
    margin-top: 5vh;
    text-align: center;
}

#search {
    width: 75%;
    height: 50px;
    border: solid gray 1px;
    border-radius: 3px;
}

.checkbox {
    margin: 3vh auto;
    width: 75%;
    height: 50px;
    border-radius: 3px;
    background-color: rgb(110, 110, 110);
}

form button {
    width: 75%;
    height: 50px;
    background-color: black;
    border-radius: 3px;
    color: white;
}

#imgDiv {
    text-align: center;
}

#update {
    position: relative;
    top: 10vh;
    color: darkslategray;
    font-size: large;
}

#update legend {
    color: brown;
    font-size: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-bottom: 4vh;
}

#update input {
    text-align: left;
    margin-bottom: 5vh;
    width: 50%;
    height: 50px;
    border-radius: 10px;
}

#update button {
    width: 75%;
    height: 50px;
    background-color: black;
    border-radius: 3px;
    color: white;
}

textarea {
    text-align: center;
    margin-bottom: 5vh;
    border-radius: 10px;
}